<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forum</title>
    <link rel='stylesheet' href='/stylesheets/indexstyle.css'/>
  </head>
  <body>
    <div id='top-nav'>
      <ul>
        <li>
          <form action="./">
            <input type="submit" value="Home">
          </form>
        </li>
        <li>
          <button>Logout</button>
        </li>
      </ul>
    </div>
    <div id='display'>
      <div id='left-nav'>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
      <div id='main'>
      </div>
    </div>
  </body>
</html>
