<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main Forum</title>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
      <div id='main'>
        <div id='login-area'>
          <form action="/" method="post">
            <div id='input-boxes'>
              <div id='username'>
                <input type="text" placeholder="  Username" name='user[username]'>
              </div>
              <div>
                <input type="text" placeholder="  Password" name='user[password]'>
              </div>
            </div>
              <div id='login-signup'>
              <button type="submit">
                <i id='sign-in' class="fa fa-sign-in"></i>
              </button>
            </form>
                <form action="./users">
                  <input type="submit" value="Signup">
                </form>
              </div>
        </div>
      </div>
    </div>
  </body>
</html>
