<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NEW</title>
    <link rel='stylesheet' href='stylesheets/indexstyle.css'>
  </head>
  <body>
    <div id='top-nav'>
      <ul>
        <li>
          <button>Home</button>
        </li>
        <li>
          <button>Logout</button>
        </li>
      </ul>
    </div>
    <div id='display'>
      <div id='left-nav'>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
      <div id='main'>
        <div id='login-area'>
          <form action="/users" method="post">

              <label>Username</label>
              <div>
                <input type="text" placeholder="username" name='user[username]'>
              </div>

              <label>Password</label>
              <div>
                <input type="text" placeholder="password" name='user[password]'>
              </div>

                <label>Email</label>
              <div>
                <input type="text" placeholder="email@generalassemb.ly" name='user[email]'>
              </div>

              <div id='login-signup'>
                <input type="submit" value="Login">
                <!-- <input type="submit" href="#" value="Sign Up"/> -->
              </div>

          </form>
        </div>
      </div>
    </div>
  </body>
</html>
