<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New User Signup</title>
    <link rel='stylesheet' href='../stylesheets/indexstyle.css'/>
  </head>
  <body>
    <div id='top-nav'>
      <ul>
        <li>
          <form action="../">
            <input type="submit" value="Home">
          </form>
        </li>
        <li>
          <button>Logout</button>
        </li>
      </ul>
    </div>
    <div id='display'>
      <div id='left-nav'>
        <ul>
          <li><button href="#" id='new-topic'>New Post</button></li>
          <li><button href="#">Sort by Topic</button></li>
          <li><button href="#">Sort by Comments</button></li>
          <li><button href="#">Sort by Votes</button></li>
          <li><button href="#">Random Topic</button></li>
        </ul>
      </div>
      <div id='main'>
        <div id='login-area'>
          <form action="/" method="post">

              <label>Username</label>
              <div>
                <input type="text" placeholder="username" name='user[username]'>
              </div>

              <label>Password</label>
              <div>
                <input type="text" placeholder="password" name='user[password]'>
              </div>

                <label>Email</label>
              <div>
                <input type="text" placeholder="email@generalassemb.ly" name='user[email]'>
              </div>

              <div id='login-signup'>
                <input type="submit" value="Sign Up!">
              </div>

          </form>
        </div>
      </div>
    </div>
  </body>
</html>
